.menu-horizontal {
  background-color: #333; /* Fond de couleur plus sombre */
  border-bottom: 2px solid #fff; /* Bordure blanche en dessous */
}

.menu-horizontal .ant-menu-item,
.menu-horizontal .ant-menu-submenu-title {
  color: #fff; /* Texte blanc */
  font-size: 16px; /* Taille de police légèrement plus petite */
  padding: 12px 20px; /* Espacement intérieur */
}



.menu-horizontal .ant-menu-item:hover,
.menu-horizontal .ant-menu-submenu-title:hover {
  background-color: #1890ff !important;
}

.menu-horizontal .ant-menu-item-selected,
.menu-horizontal .ant-menu-submenu-title-selected {
  background-color: #1890ff !important;
}

.menu-horizontal .ant-menu-item-selected a,
.menu-horizontal .ant-menu-submenu-title-selected a {
  color: #fff !important;
}
.menu-horizontal .ant-menu-item-icon,
.menu-horizontal .ant-menu-submenu-title-icon {
  color: #fff; /* Icônes blanches */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
}
