/* Define CSS variables for light and dark themes */
body.light {
  --background-color: #e1ccff;
  --border-color: #ccc;
  --text-color: #333;
  --hover-text-color: #9E58FF;
  --selected-text-color: #9E58FF;
  --icon-color: #9E58FF;
  --icon-selected-color: #9E58FF;
}

body.dark {
  --background-color: #1c1c1c;
  --border-color: #333;
  --text-color: #fff;
  --hover-text-color: #9E58FF;
  --selected-text-color: #9E58FF;
  --icon-color: #fff;
  --icon-selected-color: #9E58FF;
}

.menu-horizontal {
  background-color: var(--background-color); /* Use CSS variable for background color */
  border-bottom: 1px solid var(--border-color); /* Use CSS variable for border color */
}

.menu-horizontal .ant-menu-item a {
  color: var(--text-color); /* Use CSS variable for text color */
  font-family: 'time'; /* Font family */
  font-size: 18px;
}

.menu-horizontal .ant-menu-item a:hover {
  color: var(--hover-text-color); /* Use CSS variable for hover text color */
  background-color: transparent; /* Transparent background on hover */
}

.menu-horizontal .ant-menu-item-selected a {
  color: var(--selected-text-color); /* Use CSS variable for selected text color */
  background-color: transparent; /* Transparent background for selected item */
}

.menu-horizontal .ant-menu-item-icon {
  color: var(--icon-color); /* Use CSS variable for icon color */
}

.menu-horizontal .ant-menu-item-selected .ant-menu-item-icon {
  color: var(--icon-selected-color); /* Use CSS variable for selected icon color */
}

.menu-horizontal .logo-text {
  color: var(--text-color); /* Use CSS variable for logo text color */
}

.menu-horizontal .logo-text:hover {
  color: var(--hover-text-color); /* Use CSS variable for hover logo text color */
}

.menu-horizontal .logout-item {
  margin-left: auto; /* Move logout item to the right */
  color: var(--text-color); /* Use CSS variable for logout item text color */
  font-family: 'time'; /* Font family */
  font-size: 18px; /* Font size for logo text */
}

.menu-horizontal .logout-item:hover {
  color: var(--hover-text-color); /* Use CSS variable for hover logout item text color */
}

.logo-container {
  display: flex; /* Use Flexbox for horizontal alignment */
  align-items: center; /* Center elements vertically */
  padding: 0 20px; /* Add padding around the logo */
}

.logo-img {
  width: 40px; /* Logo width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Margin right to separate logo from text */
}

.logo-text {
  color: var(--text-color); /* Use CSS variable for logo text color */
  font-size: 18px; /* Font size for logo text */
  font-weight: bold; /* Bold font weight for logo text */
}

.user-item{
  font-family: 'time'; /* Font family */
  font-size: 18px; /* Font size for logo text */
}